/* line 1, ../../sass/sass/basics/elements/_h1.scss */
h1 {
  font-size: 2rem;
}

/* line 1, ../../sass/sass/basics/elements/_p.scss */
p {
  font-size: 1rem;
  line-height: 1.4;
}

/* line 1, ../../sass/sass/basics/classes/_image.scss */
.image {
  text-align: center;
  margin: 0;
  page-break-inside: avoid;
}
/* line 10, ../../sass/sass/mixins/_perfectimages.scss */
.image div.img_pct {
  height: 80%;
}
/* line 14, ../../sass/sass/mixins/_perfectimages.scss */
.image img.img_vh {
  height: 80%;
}
/* line 17, ../../sass/sass/mixins/_perfectimages.scss */
.image img.img_vh:only-of-type {
  height: 80vh;
}

/* line 1, ../../sass/sass/basics/classes/_map.scss */
.map {
  text-align: center;
  margin: 0;
  page-break-inside: avoid;
}
/* line 10, ../../sass/sass/mixins/_perfectimages.scss */
.map div.img_pct {
  height: 80%;
}
/* line 14, ../../sass/sass/mixins/_perfectimages.scss */
.map img.img_vh {
  height: 80%;
}
/* line 17, ../../sass/sass/mixins/_perfectimages.scss */
.map img.img_vh:only-of-type {
  height: 80vh;
}

/* line 2, ../../sass/sass/basics/ids/_chapter0.scss */
#chapter0 h1 {
  font-size: 3rem;
}
